<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.zust.dmt.hsy.entrancemodule">

    <application>

        <activity
            android:name=".containers.activities.GateActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".containers.activities.IdentityActivity"
            android:launchMode="singleTop" />
    </application>
</manifest>
